@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradientShift 3s ease infinite;
}

/* Add Fago font face */
@font-face {
  font-family: 'Fago';
  src: url('../public/fonts/fago/fagoprobold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
} 